# Simulation files
*_report.txt
pp_articles.py

# supplementary data
Histogram_CSD_ALL_INITIAL_TER_Cum_damage_6.pdf

# Folders with the scans
Tengattini2023_scans

# Folders created during the simulation
data
plot
save
vtk
scan
